<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{:config('admin.sys_name')}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css?v={:config('system.version')}" media="all" />
    <link rel="stylesheet" href="/static/admin/css/main.min.css?v={:config('system.version')}" media="all">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css?v={:config('system.version')}" media="all">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js?v={:config('system.version')}"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js?v={:config('system.version')}"></script>
    <![endif]-->
    <style id="LM-bg-color">
    </style>
</head>