{extend name='admin@main'}
{block name="content"}
<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="layui-card-body think-box-shadow padding-left-40">
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">支付类型</span>
                <select name="payid" id="selectList">
                    {foreach $pay as $key=>$vo}
                    <option value="{$vo.id}" test {eq name="$info['payid']" value="$vo['id']"}selected=""{/eq}>{$vo.name}</option>
                    {/foreach}
                </select>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">银行名</span>
                <input name="bank_name" class="layui-input" placeholder="请输入银行名" value="{$info.bank_name}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">支行名</span>
                <input name="branch_name" class="layui-input" placeholder="请输入支行名" value="{$info.branch_name}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">支行编号</span>
                <input name="branch_number" class="layui-input" placeholder="请输入支行编号" value="{$info.branch_number}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">银行卡号</span>
                <input name="card_number" required class="layui-input" placeholder="请输入银行卡号" value="{$info.card_number}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">姓名</span>
                <input name="name_e" class="layui-input" placeholder="请输入姓名" value="{$info.name_e}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">姓名汉字</span>
                <input name="name" class="layui-input" placeholder="请输入姓名汉字" value="{$info.name}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">电话号码</span>
                <input name="phone" class="layui-input" placeholder="请输入电话号码" value="{$info.phone}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">最小金额</span>
                <input name="min" class="layui-input" placeholder="请输入最小金额" value="{$info.min}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">最大金额</span>
                <input name="max" class="layui-input" placeholder="请输入最大金额" value="{$info.max}">
            </label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">默认选择</label>
            <div class="layui-input-block">
                <input type="radio" name="default" value="0" title="否" {eq name='info.default' value='0'}checked=""{/eq}>
                <input type="radio" name="default" value="1" title="是" {eq name='info.default' value='1'}checked=""{/eq}>
            </div>
        </div>
        <div class="layui-form-item block">
            <span class="color-green">二维码</span>
            <p width="auto" class="text-left"><input name="qrcode" type="hidden" value="{$info.qrcode|default=''}"></p>
            <script> $('[name="qrcode"]').uploadMultipleImage()</script>
            <p> 图片只能保存一张,更换请先删除</p>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-col-xs9 relative">
                <label class="color-green">附加说明</label>
                <textarea name="description" placeholder="请输入内容" class="layui-textarea">{$info.description|default=''}</textarea>
            </label>
        </div>
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">提交</button>
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消</button>
            <input type="hidden" name="id" value="{$info.id}">
            <input type="hidden" name="_csrf_" value="{:systoken('admin/pay_info/edit')}">
        </div>
    </div>
</form>
<script>
    window.form.render();
</script>
{/block}